In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('E:/Dataset/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df = df.iloc[:,2:]

In [8]:
df.sample(5)

     Age  EstimatedSalary  Purchased
375   46            32000          1
87    28            85000          0
218   46            96000          0
100   27            88000          0
254   50            44000          0

In [10]:
X = df.iloc[:,:2]
y = df.iloc[:,-1]

# Train_Test split

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33)

# standardization

In [14]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [15]:
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [16]:
scaler.mean_

array([3.74440299e+01, 6.72649254e+04])

In [18]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

In [19]:
X_train_scaled

          Age  EstimatedSalary
0    0.432578        -0.399558
1    1.287105         2.010154
2   -1.561319        -1.544172
3   -1.656266         0.564327
4   -0.232054         0.172749
..        ...              ...
263 -0.232054        -0.369437
264 -0.327002        -1.273079
265  0.242683        -0.309194
266 -1.181529         0.353477
267 -1.466372        -1.483929

[268 rows x 2 columns]

In [22]:
np.round(X_train_scaled.describe(),1)

         Age  EstimatedSalary
count  268.0            268.0
mean     0.0             -0.0
std      1.0              1.0
min     -1.8             -1.6
25%     -0.8             -0.8
50%     -0.0             -0.1
75%      0.7              0.5
max      2.1              2.5